* {
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    height: 100vh;
    background: linear-gradient(#141e30, #243b55);
    place-items: center;
    overflow-x: hidden;
}
  
.app__container {
    display: flex;
    background: rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
    width: 90vw;
    height: 90vh;
    border-radius: 15px;
}

@media (max-width: 800px) {
    .app__container{
        width: 100vw;
        height: 100vh;
    }
}