* {
    margin: 0;
}

.app {
    display: grid;
    height: 100vh;
    background-color: #e9e9e3;
    place-items: center;
    overflow-x: hidden;
}
  
.app__container {
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.3);
    display: flex;
    width: 90vw;
    height: 90vh;
    background-color: rgb(250, 250, 250);
}

@media (max-width: 800px) {
    .app__container{
        width: 100vw;
        height: 100vh;
    }
}