.login {
  background: linear-gradient(#141e30, #243b55);
  font-family: 'Arial', sans-serif;
  display: grid;
  place-items: center;
  min-height: 600px;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.login__body {
  background-color: #34495e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  padding: 40px;
}

.login__body > img {
  object-fit: contain;
  width: 200px;
  margin-bottom: 10px;
}

/* Google Button CSS */
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
  margin: 20px;
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
  background: #1669F2;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.btn-text {
  float: right;
  margin: 10px 10px 0 0;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
}