.chat__wrapper {
    flex: 0.70;
    flex-grow: 1;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: hidden;
}

.chat__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid rgb(126, 123, 123);
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    background-color: #23272a;
    color: white;
}

.chat__header > .MuiAvatar-root {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
	cursor: pointer;
}

.chat__headerLeft {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1;
    justify-content: center;
    min-width: 0;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

.chat__headerLeft > h3 {
    display: inline-block;
    font-weight: 450;
    font-size: 16px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat__headerLeft > p {
    color: gray;
    font-size: 12px;
}

.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
    margin-right: 10px;
}

.chatHeader__iconBtn {
    color: gray !important;
}

.chatHeader__iconBtn:hover {
    color: white !important;
}

.chat__body {
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat__body::-webkit-scrollbar {
    width: 0.3em;
}
 
.chat__body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.chat__body::-webkit-scrollbar-thumb {
	background-color: #34495eb0;
	outline: 1px solid #34495eb0;
}

.chat__message {
    position: relative;
    background-color: white;
    width: fit-content;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 120px;
    margin-bottom: 40px;
}

.chat__receiver {
    background-color: #dcf8c6;
    margin-left: auto;
}

.chat__timestamp {
    position: absolute;
    bottom: -16px;
    right: 0;
    font-size: xx-small;
    font-weight: 600;
}

.chat__username {
    position: absolute;
    left: 0;
    top: -15px;
    font-weight: bold;
    font-size: xx-small;
}

.chat__footer {
    background-color: #23272a;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-bottom-right-radius: 15px;
    justify-content: space-between;
}

.chat__footerLeft {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: gray;
}

.chat__footerLeft > .MuiIconButton-root {
    padding: 5px !important;
    margin-left: 5px !important;
}

.chat__footerForm > .MuiIconButton-root, .chat__footerFormRight > .MuiIconButton-root{
    padding: 5px !important;
    margin-left: 5px !important;
}

.chat__footer > form {
    flex: 1;
    display: flex;
}

.chat__footer > form > input {
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    color: rgb(165, 159, 159);
    background-color: #2c2f33;
}

.chat__footer > form > input:focus, .chat__footer > form > button:focus {
    outline-width: 0;
}

.chat__footerFormRight {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.footer__iconBtn {
    color: gray !important;
}

.footer__iconBtn:hover {
    color: white !important;
}

.hidden {
    display: none;
}

@media (max-width: 800px) {
	.chat__wrapper {
        flex: 1;
    }
}