.sidebar__wrapper {
	flex: 0.30;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	max-width: 400px;
}

.sidebar {
	flex-direction: column;
    display: flex;
	flex: 1;
	flex-grow: 1;
	overflow: hidden
}

.sidebar__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-right: 1px solid lightgray;
	background-color:#45aaf2;
	padding: 8px;
	height: 55px;
}

.sidebar__header > .MuiAvatar-root {
    width: 35px;
    height: 35px;
	margin-left: 10px;
	cursor: pointer;
}

.sidebar__headerRight {
	display: flex;
	justify-content: flex-end;
	min-width: 7vw;
    margin-left: 7px;
}

.sidebar__headerRight > .MuiIconButton-root {
    padding: 10;
}

.sidebar__iconBtn {
    color: white !important;
}

.sidebar__newRoom > .MuiButton-root {
	width: 100%;
}

.sidebar__chatGroups {
	flex: 1;
	background-color: white;
	overflow-y: scroll;
}

@media (max-width: 800px) {
	.sidebar__wrapper {
        display: none;
    }
}