.sidebarChat {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    height: 72px;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

.sidebarChat:hover {
    background-color: rgba(79,84,92,0.16);
    color: #dcddde;
}

.chatSelected {
    background-color: rgba(79,84,92,0.32);
}

.sidebarChat__avatar {
    display: flex;
    flex: none;
    align-items: center;
    height: 45px;
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

.sidebarChat__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.sidebarChat__topRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sidebarChat__author {
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 17px;
    color: #dcddde;
}

.sidebarChat__lastSeen {
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    line-height: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: none;
    max-width: 100%;
    font-size: 12px;
    color: gray
}

.sidebarChat__chat {
    margin-top: 2px;
    margin-right: 2px;
    color: gray;
    font-size: 13px;
    line-height: 20px;
    max-width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    text-decoration: none !important;
}